.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('../image/login/login_bgi.png');
  opacity: 0.9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgBox {
  width: 24%;
}

.findBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem 0.2rem 2rem 0.2rem;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  width: clamp(17.5rem, 40%, 31.25rem);
  height: clamp(18.75rem, 60%, 37.5rem);
}

.findBox > h2 {
  margin-top: -2rem;
  margin-bottom: 2.5rem;
  font-size: clamp(1.75rem, 2vw + 1rem, 2rem);
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1;
  color: #111111;
}

.findBox > input {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #333;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.errorMsg {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.findBox > button {
  font-size: 1rem;
  letter-spacing: 0.08em;
  background-color: #c4c4c4;
  color: #333;
  font-weight: 700;
  padding: 1rem 5.5rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.findBox > button:hover {
  transform: scale(1.02);
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .wrap {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .imgBox {
    width: 20%;
  }

  .findBox {
    width: 55%;
    padding: 10rem 0;
    min-width: 17.5rem;
  }

  .findBox > input,
  button {
    width: 55%;
  }

  .findBox > button {
    padding: 1rem 4rem;
    white-space: nowrap;
  }
}